.horizontal-group{
	overflow-x: auto;
}
* {
	font-family: "Courier New";
}

body{
	margin: 0px;
}


@media (orientation: landscape){
	.topContainer{
		width:100vw;
		height:100vh;
		/* height:100vh; */
		/* box-shadow: inset 0 -120px 120px 0 rgba(209,211,255,1); */
		/* box-shadow: inset 40px -120px 15px 0 yellow; */
		position: relative;
		z-index: 99;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.topContainer{
	width:100vw;
	height:100vh;
	/* height:100vh; */
	/* box-shadow: inset 0 -120px 120px 0 rgba(209,211,255,1); */
	position: relative;
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
}

#topShadow{
	/* box-shadow: inset 0 -120px 120px 0 rgba(209,211,255,1); */
	position: absolute;
	z-index: 999999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	box-shadow: inset 0 -20vh 5vh -5vh rgb(209 211 255);
	pointer-events: none;
}

#loadingMessage{
	max-width: 50%;
	position: absolute;
	color: #EEEEEE;
	font-size: 2rem;
	z-index: 100;
}

#loadingScreen{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #ffffff;
	font-size: 2rem;
	background-color: rgb(41, 127, 150);
	animation: rainbowLoad 5s infinite alternate;
}

.rainbowLoad{
	height:120vh;
	animation: rainbowLoad 5s infinite alternate;
	color: #EEEEEE;
	text-align: center;
}

@keyframes rainbowLoad {
	0% {background-color: rgb(41, 127, 150);}
	25% {background-color: rgb(41, 235, 150);}
	50% {background-color: rgb(65, 65, 150);}
	75% {background-color: rgb(235, 65, 150);}
	100% {background-color: rgb(230, 215, 150);}
}

#gradientContainer2{
	z-index: 9999;
	height: 400vh;
	position: relative;
	background: rgb(209,211,255);
	box-shadow: 0 -20px 10px 0 black;
	animation: rainbowLoad 20s infinite alternate;
	
}



.imageMain{
	width:100%;
	height:auto;
	display:none;
	z-index: 101;
	position: absolute;
	top: 0px;
	left: 0px;
}

#gradientContainer1{
	z-index: 99999;
	height: 400vh;
	position: relative;
	background: rgb(209,211,255);
	background: linear-gradient(180deg, rgba(209,211,255) 0%, rgb(41, 127, 150) 100%);
	/* box-shadow: 0 -20px 10px 0 black; */
	box-shadow: 0 100vh 100vh 20vh rgba(30,106,195,1);
}










.pointerCursor{
	cursor: pointer;
}

a{
	cursor:pointer;
}

#darkContainer  a{
	color: inherit;
	text-decoration: none;
}

#darkContainer  a:hover{
	color: inherit;
	text-decoration: underline;
}

.darkContainer{
	height:100vh;
	width: 100vw;
	background: #111111;
	background: rgb(41, 127, 150);
	z-index: 10;
	position: relative;
	color: #EEEEEE;
	font-size: 20px;
	animation: rainbowLoad 20s infinite alternate;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}


@media (orientation: landscape) and (hover: hover) and (pointer: fine){
	

	
	
	
	.darkContainer{
		height:100vh;
		width: 100vw;
		background: #111111;
		background: linear-gradient(45deg, #010,#333,#010);
		z-index: 10;
		position: relative;
		color: #eeeeee;
		font-size: 20px;
		animation: none;
	}
	#gradientContainer2{
		z-index: 9999;
		height: 400vh;
		position: relative;
		background: rgb(209,211,255);
		background: linear-gradient(180deg, rgba(30,106,195,1) 0%, rgba(0,0,0,1) 100%);
		/* box-shadow: 0 -20px 10px 0 black; */
		animation: none;
	}
	#gradientContainer1{
		box-shadow: none;
	}
}








#spotlight{
	/* none */
}

#spotlight-child{
	/* none */
}


#loadMessage span {
	position: relative;
	display: inline-block;
	top: 0px;
	animation: bounce 1.2s ease infinite alternate;
}

#loadMessage span:nth-child(2) { animation-delay: .2s; }
#loadMessage span:nth-child(3) { animation-delay: .4s; }
#loadMessage span:nth-child(4) { animation-delay: .6s; }
#loadMessage span:nth-child(5) { animation-delay: .8s; }
#loadMessage span:nth-child(6) { animation-delay: 1.2s; }
#loadMessage span:nth-child(7) { animation-delay: 1.4s; }


@keyframes bounce {
  100% { top: -20px; }
}


/* .topContainer::after
{
box-shadow: inset 20px 20px 0px 0 black;
content: '';
display: block;
position: absolute;
top: 0;
} */


.bounce {
	animation: bounce 2s;
	animation-iteration-count: infinite;
	animation-delay: 1s;
	align-items: center;
}
@keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-20px);
	}
	60% {
		transform: translateY(-12px);
	}
}

.fullScreen{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* z-index: 9999; */
}

.arrowContainer {
	position: absolute;
	bottom: 15vh;
	width:100vw;
	height: 5vh;
	text-align:center;
	z-index: 99999999;
}

@media (orientation: landscape){
	.arrowContainer {
		bottom: 5vh;
	}
}


/* #hiddenImages img{
visibility:hidden;
display:none;
} */


#lightsToggleLabel{
	display: none;
}


#darkText3Container{
	/* display: block; */
	/* position: relative!important; */
	
	/* text-align: center; */
}

#darkText1{
	
	cursor: pointer;
	z-index: 9!important;
}

#darkText1:hover{
	text-decoration: underline;
}

#darkText2{
	cursor: pointer;
	z-index: 9!important;
}




#darkText3 p {
	max-width: 20rem;
	z-index: 9!important;
}

#darkText4{
	
	cursor: pointer;
	z-index: 9!important;
}

#darkText5{
	
	cursor: pointer;
	z-index: 9!important;
}

#darkText6{
	
	/* position: absolute!important; */
	
	text-align: center;
	cursor: pointer;
	z-index: 9!important;
}

#darkText7{
	
	text-align: center;
	cursor: pointer;
	z-index: 9!important;
}

#darkText8{
	
	
	cursor: pointer;
	z-index: 9!important;
}

#darkText9{
	
	
	cursor: pointer;
	z-index: 9!important;
}

.bottomLink{
	text-align: center;
	width: 16rem;
	margin: 0.5rem;
}


@media (orientation: landscape){
	
	
	#darkContainer > div,.bottomLink{
		position: absolute;
		text-align: center;
		margin: 0;
		
	}
	#lightsToggleLabel{
		display: block;
	}
	#darkText3Container{
		/* display: block; */
		/* position: relative!important; */
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
		width: 100vw;
		text-align: center;
		z-index: 8!important;
	}
	
	#darkText1{
		
		top: 4rem;
		left: 4rem;
		cursor: pointer;
		z-index: 9!important;
	}
	
	#darkText1:hover{
		text-decoration: underline;
	}
	
	#darkText2{
		right: 4rem;
		top: 4rem;
		cursor: pointer;
		z-index: 9!important;
	}
	
	
	
	
	#darkText3 p {
		max-width: 20rem;
		z-index: 9!important;
	}
	
	#darkText4{
		bottom: 4rem;
		right: 4rem;
		cursor: pointer;
		z-index: 9!important;
	}
	
	#darkText5{
		bottom: 4rem;
		left: 4rem;
		cursor: pointer;
		z-index: 9!important;
	}
	
	#darkText6{
		
		/* position: absolute!important; */
		width: 20vw;
		left: 40vw;
		bottom: 4rem;
		text-align: center;
		cursor: pointer;
		z-index: 9!important;
	}
	
	#darkText7{
		width: 20vw;
		left: 40vw;
		top: 4rem;
		text-align: center;
		cursor: pointer;
		z-index: 9!important;
	}
	
	#darkText8{
		top: 48vh;
		right: 4rem;
		cursor: pointer;
		z-index: 9!important;
	}
	#darkText9{
		top: 48vh;
		left: 4rem;
		cursor: pointer;
		z-index: 9!important;
		text-align: center;
	}
}

.cubeContainerContainer{
	/* lol */
	width: 100vw;
	/* height: 100vh; */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 8vh;
	justify-content: center;
}

.cubeContainer{
	width: 70vw;
	/* height: 70vw; */
	perspective: 140vw;
}

.cube {
	width: 70vw;
	height: 70vw;
	position: relative;
	transform-style: preserve-3d;
	transform: translateZ(-35vw) rotateX(-14deg) rotateY(-14deg);
	transition: transform 2s ease;
}

.cube__face {
	position: absolute;
	width: 70vw;
	height: 70vw;
	/* border: 2px solid black; */
	line-height: 70vw;
	font-size: 20vw;
	font-weight: bold;
	color: white;
	text-align: center;
	
}


/* .cube__face--front  { background: hsla(  0, 100%, 50%, 0.7); }
.cube__face--right  { background: hsla( 60, 100%, 50%, 0.7); }
.cube__face--back   { background: hsla(120, 100%, 50%, 0.7); }
.cube__face--left   { background: hsla(180, 100%, 50%, 0.7); }
.cube__face--top    { background: hsla(240, 100%, 50%, 0.7); }
.cube__face--bottom { background: hsla(300, 100%, 50%, 0.7); } */

.cube__face--front  { background: hsla(  0, 100%, 50%, 0.0);
	background-image: url("cover_art/visions.jpg");
	background-position: center;
	background-size: cover;
}
.cube__face--right  { background: hsla( 60, 100%, 50%, 0.0);
	background-image: url("cover_art/merriweather_post_pavillion.jpg");
	background-position: center;
	background-size: cover;
}
.cube__face--back   { background: hsla(120, 100%, 50%, 0.0);
	background-image: url("cover_art/okcomputer.jpg");
	background-position: center;
	background-size: cover;
}
.cube__face--left   { background: hsla(180, 100%, 50%, 0.0);
	background-image: url("cover_art/untrue.jpg");
	background-position: center;
	background-size: cover;
}
.cube__face--top    { background: hsla(240, 100%, 50%, 0.0);
	background-image: url("cover_art/screamadelica.jpg");
	background-position: center;
	background-size: cover;
}
.cube__face--bottom { background: hsla(300, 100%, 50%, 0.0);
	background-image: url("cover_art/kicki.jpg");
	background-position: center;
	background-size: cover;
}

#albumBg{
	min-height:100vh;
	width:100vw;
	background-color: rgb(126, 56, 130);
	color: #EEEEEE;
	transition: background-color 1.5s ease;
}

#albumTextContainer{
	padding-top: 16vh;
	padding-left: 8vw;
	padding-right: 8vw;
	width: 84vw;
	text-align: center;
	font-size: 1.3rem;
	line-height: 150%;
}

.cube__face--front  { transform: rotateY(  0deg) translateZ(35vw); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(35vw); }
.cube__face--back   { transform: rotateY(180deg) translateZ(35vw); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(35vw); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(35vw); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(35vw); }

#backText{
	width: 100vw;
	text-align: center;
	padding-top: 3vh;
}

#backText a{
	color: inherit;
	text-decoration: none;
}

#backText a:hover{
	text-decoration: underline;
}

@media (orientation: landscape){
	#backText{
		text-align: left;
		width: auto;
		padding-left: 1.8rem;
		padding-top: 1.8rem;
		position: absolute;
	}
	.cubeContainerContainer{
		width: 45vw;
		height: 100vh;
		margin-left: 5vw;
		padding-top: 0;
		position: absolute;
	}
	.cubeContainer{
		width: 30vw;
	}
	.cube{
		width: 30vw;
		height: 30vw;
		transform-style: preserve-3d;
		transform: translateZ(-30vw) rotateX(-14deg) rotateY(-14deg);
		transition: transform 2s ease;
	}
	.cube__face{
		width: 30vw;
		height: 30vw;
	}
	.cube__face--front  { transform: rotateY(  0deg) translateZ(15vw); }
	.cube__face--right  { transform: rotateY( 90deg) translateZ(15vw); }
	.cube__face--back   { transform: rotateY(180deg) translateZ(15vw); }
	.cube__face--left   { transform: rotateY(-90deg) translateZ(15vw); }
	.cube__face--top    { transform: rotateX( 90deg) translateZ(15vw); }
	.cube__face--bottom { transform: rotateX(-90deg) translateZ(15vw); }
	
	#albumTextContainer{
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 50vw;
		height: 100vh;
		left: 50vw;
		text-align: center;
		font-size: 1.3rem;
		/* line-height: 150%; */
	}
}

.noPointer{
	cursor: default;
}

#threeCanvas{
	top: 0;
	position: absolute;
	opacity: 0;
	z-index: 99;
	width: 100vw;
	height: 100vh;
	transition: opacity 1.5s;
}

#infoButton{
	position: fixed;
	top: 1rem;
	right: 1rem;
	height: 2rem;
	width: 2rem;
	line-height: 2rem;
	background-color: #fdfdfd;
	opacity: 0.7;
	color: #9999ff;
	text-align: center;
	z-index: 100;
	transition: all 1s;
	overflow: hidden;
	border-radius: 1rem;
}

#infoButton #infoText{
	display: none;
	color: rgba(80, 80, 255, 0);
	transition: color 5s;
	text-decoration: none;
}


@media (hover: hover) {
	#infoButton:hover{
		width: 9rem;
		height: 4rem;
		opacity: 1;
		padding: 0.5rem;
	}

	#infoButton:hover #infoText{
		display: block;
		line-height: 1.3333rem;
		font-size: 0.8rem;
		color: rgba(80, 80, 255, 1);
	}

	#infoButton:hover #baseIcon{
		display: none;
	}
}

#infoButton.open{
	width: 9rem;
	height: 4rem;
	opacity: 1;
	padding: 0.5rem;
}

#infoButton.open #infoText{
	display: block;
	line-height: 1.3333rem;
	font-size: 0.8rem;
	color: rgba(80, 80, 255, 1);
}

#infoButton.open #baseIcon{
	display: none;
}

.modal{
	position: fixed;
	background-color: rgba(255,255,255,0.85);
	z-index: 100;
	color: #4580ad;
	text-align: center;
	border-radius: 1rem;
	opacity: 0;
	transition: opacity 0.5s;
	visibility: none;
	pointer-events: none;
}

.modalBody{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



.modal.block {
	display: block;
}

.modal.opaque {
	opacity: 1;
}

.modal.show {
	visibility: 1;
	opacity: 1;
	pointer-events: auto;
}

#aboutModal {
	left: 20vw;
	right: 20vw;
	top: 32vh;
	bottom: 32vh;
	width: 60vw;
	height: 34vh;
}

#contactModal{
	left: 20vw;
	right: 20vw;
	top: 35vh;
	bottom: 35vh;
	width: 60vw;
	height: 30vh;
}

#codeblogModal{
	left: 20vw;
	right: 20vw;
	top: 35vh;
	bottom: 35vh;
	width: 60vw;
	height: 30vh;
}

#githubModal{
	left: 20vw;
	right: 20vw;
	top: 35vh;
	bottom: 35vh;
	width: 60vw;
	height: 30vh;
}

#workModal{
	left: 20vw;
	right: 20vw;
	top: 15vh;
	bottom: 15vh;
	width: 60vw;
	height: 70vh;
	overflow: scroll;
	
}

#workModal .modalBody{
	overflow: scroll;
	justify-content: flex-start;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#workModal .modalBody div{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

@media only screen and (min-width: 600px) {
	#contactModal{
		left: 35vw;
		right: 35vw;
		top: 40vh;
		bottom: 40vh;
		width: 30vw;
		height: 20vh;
	}

	#codeblogModal{
		left: 35vw;
		right: 35vw;
		top: 40vh;
		bottom: 40vh;
		width: 30vw;
		height: 20vh;
	}

	#githubModal{
		left: 35vw;
		right: 35vw;
		top: 40vh;
		bottom: 40vh;
		width: 30vw;
		height: 20vh;
	}

	#workModal{
		left: 20vw;
		right: 20vw;
		top: 25vh;
		bottom: 40vh;
		width: 60vw;
		height: 50vh;
		
	}
}

.modalBtn{
	border-radius: 0.5rem;
	background-color: #0390fc;
	color: #ffffff;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	text-decoration: none;
}


.modalBody > *{
	margin: 1rem;
}

.staticContainerBtn{
	border-radius: 0.5rem;
	background-color: #0390fc;
	color: #ffffff;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	text-decoration: none;
	/* margin-top: 1rem; */
	/* margin-bottom: 1rem; */
	display: inline-block;
}

