@font-face {
  font-family: 'Maison Neue';
  src: url('/assets/fonts/MaisonNeueDemiItalic/MaisonNeue-DemiBoldItalic.eot');
  src: url('/assets/fonts/MaisonNeueDemiItalic/MaisonNeue-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/MaisonNeueDemiItalic/MaisonNeue-DemiBoldItalic.woff2') format('woff2'),
    url('/assets/fonts/MaisonNeueDemiItalic/MaisonNeue-DemiBoldItalic.woff') format('woff'),
    url('/assets/fonts/MaisonNeueDemiItalic/MaisonNeue-DemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'KareliaOuttakes';
  src: url('/assets/fonts/KareliaOuttakes/Karelia-Outtakes.eot');
  src: url('/assets/fonts/KareliaOuttakes/Karelia-Outtakes.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/KareliaOuttakes/Karelia-Outtakes.woff2') format('woff2'),
      url('/assets/fonts/KareliaOuttakes/Karelia-Outtakes.woff') format('woff'),
      url('/assets/fonts/KareliaOuttakes/Karelia-Outtakes.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'KareliaBold';
  src: url('/assets/fonts/KareliaBold/KareliaWeb-Bold.eot');
  src: url('/assets/fonts/KareliaBold/KareliaWeb-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/KareliaBold/KareliaWeb-Bold.woff2') format('woff2'),
    url('/assets/fonts/KareliaBold/KareliaWeb-Bold.woff') format('woff'),
    url('/assets/fonts/KareliaBold/KareliaWeb-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue Mono';
  src: url('/assets/fonts/MaisonNeueMono-Bold/MaisonNeueMono-Bold.eot');
  src: url('/assets/fonts/MaisonNeueMono-Bold/MaisonNeueMono-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/MaisonNeueMono-Bold/MaisonNeueMono-Bold.woff2') format('woff2'),
    url('/assets/fonts/MaisonNeueMono-Bold/MaisonNeueMono-Bold.woff') format('woff'),
    url('/assets/fonts/MaisonNeueMono-Bold/MaisonNeueMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}





body {
  font-family: 'KareliaBold';
  /* background: linear-gradient(90deg, #ffffff 21px, transparent 1%) center, linear-gradient(#ffffff 21px, transparent 1%) center, #444444;
  background-size: 22px 22px;
  background-position: 12px 12px; */
}



canvas {
  font-family: 'Maison Neue';
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}


#css3DContainer {
  background-color: transparent;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.css3DDOMElement {
  pointer-events: none;
}

.css3DScene {
  pointer-events: none;
}

.css3DScene video {
  pointer-events: auto !important;
}

.css3DScene :not(video) {
  pointer-events: none !important;
}

#groundContainer {
  background: linear-gradient(90deg, #ffffff 21px, transparent 1%) center, linear-gradient(#ffffff 21px, transparent 1%) center, #444444;
  background-size: 22px 22px;
  background-position: 12px 12px;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.cssGround {
  width: 150vw;
  height: 1000px;
  /* background-color: greenyellow; */
  background: linear-gradient(90deg, #ffffff 21px, transparent 1%) center, linear-gradient(#ffffff 21px, transparent 1%) center, #444444;
  background-size: 22px 22px;
  background-position: 12px 12px;
  animation: fadeIn 2s;
}

#overlay {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
  font-family: 'KareliaOuttakes', Courier, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-weight: light; */
}

#overlay svg {
  overflow: visible;
}

#svgBottomContainer {
  position: fixed;
  width: 100%;
  /* height: 100px; */

  bottom: 0;
}

#svgTopContainer {
  position: fixed;
  width: 100%;
  height: 100px;

  top: 0;
}

@keyframes innerCircleAnim {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 100%;
  }

}

#innerCircle {
  animation: innerCircleAnim 5s linear infinite;
}

@keyframes outerCircleAnim {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 100%;
  }

}

#outerCircle {
  animation: outerCircleAnim 10s linear infinite;
}